body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* categories section starts here */
.categories {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories .foods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.categories .food {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 5%;
  width: 100%;

  img {
    object-fit: cover;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
  }
}

.categories .food:hover img {
  cursor: pointer;
  transform: scale(1.1) translateY(-2px);
}

.categories .food::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(44, 43, 43, 0.1) 0%,
    rgba(44, 43, 43, 0.8) 100%
  );
  z-index: 1;
}

.categories .food-name {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}

/* Responsiveness */
@media (min-width: 481px) and (max-width: 768px) {
  .categories .foods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 90vw;
  }

  .categories .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.3rem;
  }

  .categories .food {
    max-height: 220px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .categories .foods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 90vw;
  }

  .categories .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.3rem;
  }

  .categories .food {
    max-height: 220px;
  }

  .categories {
    margin-top: 120px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .categories .foods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    width: 90vw;
  }

  .categories .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.5rem;
  }

  .categories .food {
    height: 260px;
    max-height: 270px;
  }

  .categories {
    margin-top: 120px;
  }
}

@media (min-width: 1281px) {
  .categories .foods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    width: 95vw;
  }

  .categories .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.8rem;
  }

  .categories .food {
    height: 410px;
    /* max-height: 440px; */
  }

  .categories {
    margin-top: 160px;
  }
}
