/* Universal Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfaf9;
  min-height: 100vh;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 20px;
}

.heading {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
  color: black;
  font-weight: 700;
  font-size: 2.05rem;
  margin-bottom: 20px;
}

P {
  color: #7c716a;
  font-weight: 500;
  font-size: 1.1rem;
}
/* Universal styling ends here */

/* Navbar styling  starts here*/
.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #f97415;
    font-weight: 650;
    font-size: 1.1rem;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img-logo {
  background-color: #f97415;
  border-radius: 100%;
  padding: 6px;
}

.img-logo img {
  width: 20px;
  height: 20px;
}

/* Nav links */
.nav-links {
  display: none;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;

  li a {
    color: black;
    font-size: 1.1rem;
    font-weight: 550;
  }

  a:hover {
    background-color: #f97415;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
}
/* Navbar ends here */

/* Hero starts here */
.hero {
  background-image: url(../images/foods/cheese_burger.jpg);
  object-position: center;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
  height: 85vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.hero-content {
  z-index: 2;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 90%;

  p {
    color: white;
  }

  .big {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .small {
    font-size: 1rem;
    font-weight: 330;
    line-height: 1.2rem;
  }
}

.search-bar {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 90%;
  padding: 10px 19px;
  border-radius: 35px;
  overflow: hidden;
  gap: 15px;

  input {
    outline: none;
    border: none;
    flex: 1;
    font-size: 0.9rem;
  }

  button {
    background-color: #f97415;
    border: none;
    transition: color 0.3s ease;
    border-radius: 50px;
    padding: 5px 9px;

    img {
      width: 18px;
    }
  }

  button:hover {
    transform: scale(1.04);
    cursor: pointer;
    background-color: #f07218;
  }
}

/* Explore section starts here */
.explore {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.explore .foods {
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: flex;
}

.explore .food {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 5%;
  /* transition: transform 0.2s ease-out; */

  img {
    object-fit: cover;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
  }
}

.explore .food::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(44, 43, 43, 0.1) 0%,
    rgba(44, 43, 43, 0.8) 100%
  );
  z-index: 1;
}

.explore .food-name {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}

.food:hover img {
  cursor: pointer;
  transform: scale(1.1) translateY(-2px);
}

.explore .food:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Menu section starts here */
.menu {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.menu .foods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
  background-color: #fbfaf9;
}

.menu .food {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 5%;
  width: 100%;
  background-color: white;

  img {
    border-radius: 30px 30px 0 0;
    transition: transform 0.2s ease-out;
    width: 100%;
    object-fit: cover;
  }

  .description {
    padding: 10px;

    p {
      color: black;
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .pricing {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    p {
      color: #f97415;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  .btn {
    background-color: #f97415;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    padding: 8px 10px;
    border-radius: 13px;
    gap: 15px;

    span {
      font-size: 0.92rem;
      font-weight: 900;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .btn:hover {
    cursor: pointer;
    background-color: #f07218;
    transform: scale(1.04);
  }
}

.menu .food:hover img {
  cursor: pointer;
  transform: scale(1.004) translateY(-4px);
}

/* Footer starts here */

footer {
  background-color: white;
  height: 27vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  img {
    width: 25px;
    max-width: 40px;
    transition: transform 0.3s ease;
  }

  img:hover {
    filter: brightness(0) saturate(100%) invert(45%) sepia(95%) saturate(3046%)
      hue-rotate(12deg) brightness(97%) contrast(101%);
    cursor: pointer;
    transform: scale(1.04);
  }

  .socials {
    display: flex;
    width: 55%;
    max-width: 300px;
    justify-content: space-between;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

/* Footer ends here */

/* RESPONSIVENESSSSSSSSSSSSSSSSSS */
/* Responsiveness for universal styles */
@media (min-width: 481px) {
  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .heading {
    margin-bottom: 10px;
  }

  .container {
    margin: 30px 25px;
  }
}

@media (min-width: 1025px) {
  h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .heading {
    margin-bottom: 15px;
  }

  .container {
    margin: 30px 25px;
  }
}

/* Responsiveness for Navbar */
@media (min-width: 481px) and (max-width: 768px) {
  /* Hamburger menu */
  .hamburger {
    display: none;
  }

  /* Nav links */
  .nav-links {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1280px) and (orientation: landscape) {
  /* Hamburger menu */
  .hamburger {
    display: none;
  }

  .nav-links {
    display: block;
  }

  /* Navbar */
  .nav-bar {
    padding: 15px 25px;

    h1 {
      font-weight: 750;
      font-size: 1.5rem;
    }
  }

  .nav-logo {
    gap: 10px;
  }

  .img-logo {
    padding: 9px;
  }

  .img-logo img {
    width: 27px;
    height: 27px;
  }

  .nav-links ul {
    gap: 35px;

    li a {
      font-size: 1.3rem;
      font-weight: 550;
    }

    a:hover {
      padding: 10px;
      border-radius: 10px;
    }
  }
}

@media (min-width: 1281px) {
  /* Hamburger menu */
  .hamburger {
    display: none;
  }

  .nav-links {
    display: block;
  }

  /* Navbar */
  .nav-bar {
    padding: 15px 25px;

    h1 {
      font-weight: 750;
      font-size: 2rem;
    }
  }

  .nav-logo {
    gap: 13px;
  }

  .img-logo {
    padding: 13px;
  }

  .img-logo img {
    width: 35px;
    height: 35px;
  }

  .nav-links ul {
    gap: 40px;

    li a {
      font-size: 1.8rem;
    }

    a:hover {
      padding: 10px;
      border-radius: 10px;
    }
  }
}
/* Responsiveness for nav bar ends here */

/* Responsiveness for Hero section */
@media (min-width: 481px) and (max-width: 768px) {
  .hero-content {
    margin-bottom: 30px;
    margin-top: 15px;
    width: 90%;

    .big {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 20px;
      max-width: 100%;
    }

    .small {
      font-size: 1.35rem;
      font-weight: 330;
      line-height: 1.4rem;
      margin-bottom: 5px;
    }
  }

  .search-bar {
    width: 75%;
    padding: 10px 19px;
    gap: 15px;

    input {
      flex: 1;
      font-size: 1.2rem;
    }

    button {
      padding: 5px 9px;

      img {
        width: 22px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .hero-content {
    margin-bottom: 20px;
    margin-top: 40px;
    width: 90%;

    .big {
      font-size: 3.8rem;
      font-weight: 700;
      margin-bottom: 20px;
      max-width: 100%;
    }

    .small {
      font-size: 1.5rem;
      font-weight: 330;
      line-height: 1.4rem;
      margin-bottom: 5px;
    }
  }

  .search-bar {
    width: 65%;
    padding: 10px 19px;
    gap: 15px;

    input {
      flex: 1;
      font-size: 1.2rem;
    }

    button {
      padding: 5px 9px;

      img {
        width: 28px;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .hero-content {
    margin-bottom: 20px;
    margin-top: 40px;
    width: 90%;

    .big {
      font-size: 3.8rem;
      font-weight: 700;
      margin-bottom: 20px;
      max-width: 100%;
    }

    .small {
      font-size: 1.5rem;
      font-weight: 330;
      line-height: 1.4rem;
      margin-bottom: 5px;
    }
  }

  .search-bar {
    width: 55%;
    padding: 10px 19px;
    gap: 15px;

    input {
      flex: 1;
      font-size: 1.2rem;
    }

    button {
      padding: 5px 9px;

      img {
        width: 28px;
      }
    }
  }
}

@media (min-width: 1281px) {
  .hero-content {
    margin-bottom: 20px;
    margin-top: 40px;
    width: 90%;

    .big {
      font-size: 5rem;
      font-weight: 700;
      margin-bottom: 40px;
      max-width: 100%;
    }

    .small {
      font-size: 2rem;
      font-weight: 330;
      line-height: 1.4rem;
      margin-bottom: 40px;
    }
  }

  .search-bar {
    width: 50%;
    padding: 12px 18px;
    gap: 15px;

    input {
      flex: 1;
      font-size: 1.8rem;
    }

    button {
      padding: 10px 15px;

      img {
        width: 35px;
      }
    }
  }
}

/* Responsiveness for Hero section ends here */

/* Responsiveness for explore section */
@media (min-width: 481px) and (max-width: 768px) {
  .explore .foods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 90vw;
  }

  .explore .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.3rem;
  }

  .explore .food {
    max-height: 220px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .explore .foods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 90vw;
  }

  .explore .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.3rem;
  }

  .explore .food {
    max-height: 400px;
    min-height: 300px;
  }

  .explore {
    margin-top: 120px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .explore .foods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 95vw;
  }

  .explore .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.5rem;
  }

  .explore .food {
    min-height: 270px;
    max-height: 275px;
  }

  .explore {
    margin-top: 120px;
  }
}

@media (min-width: 1281px) {
  .explore .foods {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 95vw;
  }

  .explore .food-name {
    bottom: 1px;
    left: 15px;
    font-size: 1.5rem;
  }

  .explore .food {
    min-height: 250px;
    max-height: 255px;
  }

  .explore {
    margin-top: 120px;
  }
}

/* Responsiveness for explore section ends here */

/* Responsiveness for menu section */
@media (min-width: 481px) and (max-width: 768px) {
  .menu .foods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 90vw;
  }

  .menu .food .description {
    p {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  .menu .foods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 90vw;
  }

  .menu .food .description {
    p {
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .menu .foods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 25px;
    width: 95vw;
  }

  .menu .food .description {
    p {
      font-size: 1.4rem;
    }
  }

  .menu .food .pricing p {
    font-size: 1.5rem;
  }

  .menu .food .btn {
    padding: 10px 12px;
  }

  .menu .food .pricing .btn span {
    font-size: 1.1rem;
  }
}

@media (min-width: 1281px) {
  .menu .foods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    width: 95vw;
  }

  .menu .food .description {
    p {
      font-size: 2rem;
    }
  }

  .menu .food .btn {
    padding: 10px 12px;
  }

  .menu .food .pricing .btn span {
    font-size: 1.3rem;
  }
}
/* Responsiveness for menu section ends here */

/* Responsiveness for Footer */
@media (min-width: 1025px) {
  /* Footer section */
  footer {
    gap: 20px;
    height: 25vh;
    gap: 20px;

    img {
      width: 35px;
      max-width: 50px;
    }

    p {
      font-size: 1.5rem;
    }

    .socials {
      width: 15%;
    }
  }
}
/* Responsiveness for footer ends here */
