/* Universal Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfaf9;
  min-height: 100vh;
  /* max-width: 100vw; */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 30px;
}

.heading {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: black;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

P {
  color: #7c716a;
  font-weight: 700;
  font-size: 1.5rem;
}
/* Universal styling ends here */

/* Nav bar */
.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
  padding: 10px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #f97415;
    font-weight: 900;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img-logo {
  background-color: #f97415;
  border-radius: 100%;
  padding: 10px;
}

.nav-links {
  width: 30%;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  width: 100%;

  li a {
    color: black;
    font-size: 1.5rem;
    font-weight: 550;
  }

  a:hover {
    background-color: #f97415;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
}
/* Nav bar ends here */

/* Hero starts here */
.hero {
  background-image: url(../images/foods/cheese_burger.jpg);
  object-position: center;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 1;
  height: 75vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0.5);
  z-index: 1;
}

.hero-content {
  z-index: 2;
  text-align: center;
  margin-bottom: 50px;
  width: 55%;

  p {
    color: white;
  }

  .big {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .small {
    font-size: 1.5rem;
    font-weight: 280;
  }
}

.search-bar {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 50%;
  padding: 12px;
  border-radius: 35px;
  overflow: hidden;
  gap: 10px;

  input {
    outline: none;
    border: none;
    flex: 1;
    font-size: 1.44rem;
  }

  button {
    background-color: #f97415;
    border: none;
    transition: color 0.3s ease;
    border-radius: 50px;
    padding: 10px 15px;

    img {
      width: 26px;
    }
  }

  button:hover {
    transform: scale(1.04);
    cursor: pointer;
    background-color: #f07218;
  }
}

/* Explore section starts here */
.explore .foods {
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.explore .food {
  position: relative;
  overflow: hidden;
  width: 25%;
  height: 303px;
  border-radius: 5%;
  transition: transform 0.2s ease-out;

  img {
    object-fit: cover;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
  }
}

.explore .food::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(44, 43, 43, 0.1) 0%,
    rgba(44, 43, 43, 0.8) 100%
  );
  z-index: 1;
}

.food-name {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.food:hover img {
  cursor: pointer;
  transform: scale(1.08) translateY(-8px);
}

.food:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Menu section starts here */
.menu {
  /* max-width: 100%; */
}

.menu .foods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  width: 100%;
}

.menu .food {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 30px;
  background-color: white;

  img {
    border-radius: 30px 30px 0 0;
    transition: transform 0.2s ease-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .description {
    height: 80%;
    padding: 20px;

    p {
      color: black;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  .pricing {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    p {
      color: #f97415;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .btn {
    background-color: #f97415;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    transition: background-color 0.3s ease-in-out;
    padding: 9px 18px;
    border-radius: 13px;
    gap: 8px;
    width: 33%;

    span {
      font-size: 1.2rem;
      font-weight: 600;
    }

    img {
      width: 30px;
    }
  }

  .btn:hover {
    cursor: pointer;
    background-color: #f07218;
    transform: scale(1.04);
  }
}

.menu .food:hover img {
  cursor: pointer;
  transform: scale(1.004) translateY(-4px);
}

/* Footer section starts here */
footer {
  background-color: white;
  height: 18vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  img {
    max-width: 40px;
    transition: transform 0.3s ease;
  }

  img:hover {
    filter: brightness(0) saturate(100%) invert(45%) sepia(95%) saturate(3046%)
      hue-rotate(12deg) brightness(97%) contrast(101%);
    cursor: pointer;
    transform: scale(1.04);
  }

  .socials {
    display: flex;
    width: 15%;
    justify-content: space-between;
  }

  p {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
