body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Navbar styling  starts here*/
.nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: white;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #f97415;
    font-weight: 650;
    font-size: 1.1rem;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img-logo {
  background-color: #f97415;
  border-radius: 100%;
  padding: 6px;
}

.img-logo img {
  width: 20px;
  height: 20px;
}

/* Nav links */
.nav-links {
  display: none;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;

  li a {
    color: black;
    font-size: 1.1rem;
    font-weight: 550;
  }

  a:hover {
    background-color: #f97415;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }
}
/* Navbar ends here */

.order {
  margin-top: 150px;
  width: 95%;
  max-width: 900px;

  img {
    background-color: #f97415;
    padding: 1.1rem;
    border-radius: 50%;
    width: clamp(70px, 15%, 100px);
    height: auto;
  }
}

.heading {
  width: 100%;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  gap: 25px;
  border-radius: 25px;
  padding: 25px;
}

.item-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.all label {
  font-weight: 500;
  font-size: 1rem;
}

.all input,
.all textarea,
.all select {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 9px 7px;
  background-color: #fbfaf9;
  font-size: 1.01rem;
  border-radius: 10px;
  outline: none;
  border: 1px transparent solid;
  font-weight: 100;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order button {
  width: 100%;
  border-radius: 8px;
  padding: 10px 0;
  color: white;
  background-color: #f97415;
  border: none;
  font-weight: 800;
  transition: transform 0.3s ease-out;
}

.order button:hover {
  transform: scale(1.04);
  background-color: #f07218;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  border: 3px #f97415 solid;
}

/* Footer starts here */

footer {
  background-color: white;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  img {
    width: 25px;
    max-width: 40px;
    transition: transform 0.3s ease;
  }

  img:hover {
    filter: brightness(0) saturate(100%) invert(45%) sepia(95%) saturate(3046%)
      hue-rotate(12deg) brightness(97%) contrast(101%);
    cursor: pointer;
    transform: scale(1.04);
  }

  .socials {
    display: flex;
    width: 55%;
    max-width: 300px;
    justify-content: space-between;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

/* Footer ends here */

/* Responsive design */
@media (min-width: 481px) {
  .contact-form {
    padding: 40px 30px;
  }

  .item-group {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .item-group .item-content {
    width: 50%;
  }

  .all input,
  .all textarea,
  .all select {
    padding: 12px;
  }

  .order button {
    padding: 12px 10px;
    font-size: 1.2rem;
    border-radius: 12px;
  }
}

@media (min-width: 1025px) {
  .all label {
    font-weight: 500;
    font-size: 1.3rem;
  }

  .all input,
  .all textarea,
  .all select {
    padding: 15px;
  }

  .all input,
  .all textarea,
  .all select {
    font-size: 1.1rem;
  }

  .order button {
    padding: 12px 10px;
    font-size: 1.2rem;
    border-radius: 12px;
  }
}

/* Responsiveness for Navbar */
@media (min-width: 481px) and (max-width: 768px) {
  /* Hamburger menu */
  .hamburger {
    display: none;
  }

  /* Nav links */
  .nav-links {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 1280px) and (orientation: landscape) {
  /* Hamburger menu */
  .hamburger {
    display: none;
  }

  .nav-links {
    display: block;
  }

  /* Navbar */
  .nav-bar {
    padding: 15px 25px;

    h1 {
      font-weight: 750;
      font-size: 1.5rem;
    }
  }

  .nav-logo {
    gap: 10px;
  }

  .img-logo {
    padding: 9px;
  }

  .img-logo img {
    width: 27px;
    height: 27px;
  }

  .nav-links ul {
    gap: 35px;

    li a {
      font-size: 1.3rem;
      font-weight: 550;
    }

    a:hover {
      padding: 10px;
      border-radius: 10px;
    }
  }
}

@media (min-width: 1281px) {
  /* Hamburger menu */
  .hamburger {
    display: none;
  }

  .nav-links {
    display: block;
  }

  /* Navbar */
  .nav-bar {
    padding: 15px 25px;

    h1 {
      font-weight: 750;
      font-size: 2rem;
    }
  }

  .nav-logo {
    gap: 13px;
  }

  .img-logo {
    padding: 13px;
  }

  .img-logo img {
    width: 35px;
    height: 35px;
  }

  .nav-links ul {
    gap: 40px;

    li a {
      font-size: 1.8rem;
    }

    a:hover {
      padding: 10px;
      border-radius: 10px;
    }
  }
}
/* Responsiveness for nav bar ends here */

/* Responsiveness for Footer */
@media (min-width: 1025px) {
  /* Footer section */
  footer {
    gap: 20px;
    height: 25vh;
    gap: 20px;

    img {
      width: 35px;
      max-width: 50px;
    }

    p {
      font-size: 1.5rem;
    }

    .socials {
      width: 15%;
    }
  }
}
/* Responsiveness for footer ends here */
